<!doctype css>
.egt th {
  padding: .2em .8em;
  border: 1px solid rgba(20,50,90,0.25);
  background: rgba(0,102,255,0.25);
  text-align: center;
}

.egt td {
  padding: .2em .8em;
  border: 1px solid rgba(16,76,167,0.25);
  background: rgba(90,156,255,0.25);
  text-align: left;
}

.egt .nbk {
  background: transparent;
  border: 0;
}
